<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pants</title>
    </head>
    <body>
        <th:block>
            <h1>Demo!</h1>
            <button id="start-stream">Start Stream</button>
            <button id="end-stream">End Stream</button>

            <img id="demo-streaming-view"/>
        </th:block>

        <script>
            var streamModelSource;
            var demoDrawingImage = document.getElementById("demo-streaming-view");

            document.getElementById("start-stream").addEventListener("click", function () {
                streamModelSource = new EventSource("http://localhost:8080/workspace/stream-view");
                streamModelSource.onmessage = function (event) {
                    demoDrawingImage.src = event.data;
                };
            });

            document.getElementById("end-stream").addEventListener("click", function () {
                streamModelSource.close();
            });
        </script>
    </body>
</html>