<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pants</title>
    </head>
    <body>
        <th:block>
            <h1>Demo!</h1>
            <button id="start-stream">Start Stream</button>
            <button id="end-stream">End Stream</button>
            <div id="demo-variables-container">

            </div>

        </th:block>

        <script>
            var streamModelSource;
            var demoVariablesContainer = document.getElementById("demo-variables-container");

            document.getElementById("start-stream").addEventListener("click", function () {
                streamModelSource = new EventSource("http://localhost:8080/workspace/stream-model");
                // return new Promise((resolve, reject) => {
                //     resolve(afun(streamModelSource.onmessage));
                // });
                streamModelSource.onmessage = afun;
            });

            document.getElementById("end-stream").addEventListener("click", function () {
                streamModelSource.close();
            });
            afun = function (event) {
                setTimeout(function () {
                    demoVariablesContainer.innerHTML = "id: " + event.id + ", data: " +event.data;
                }, 1000);
            }
        </script>
    </body>
</html>